

/*ganze Klasse Stylen*/
.root {
	-fx-background-color: #000000;
}

/* eine Gruppe stylen zb. Alle Lable's */
.label {
	-fx-text-fill: rgb(128, 128, 128);
}

.button {
	
-fx-background-color: linear-gradient(to bottom left, #bfe9f5,  #1d1d66);
-fx-font-weight: bold;
	
}

#headline {
-fx-text-fill: linear-gradient(to bottom left, #96b5e4, #244175);
}

#lbl_gameNo {
	-fx-text-fill: linear-gradient(to bottom left, #96b5e4, #244175);
}


#startButtons {
	-fx-font-size: 20px;
}

#awards {
		-fx-text-fill: #ffd700;
}

#lbl_sessionMVP {
	-fx-text-fill: #ffd700;
}

